# secrets
.secrets/
.env
.env.*

# node
node_modules/
dist/
.next/
.vercel/

# anchor
.target/
target/
**/.anchor/
**/.solana/

# local validator
/test-ledger/

# logs
*.log

# OS
.DS_Store
Thumbs.db
